.version.index /* version checker */
{
	color: #0000E1;
	background-color: #85523F;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #B86A53;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -314px;
	padding-bottom: 62px;
	width: 0.01px;
}

#pu79
{
	width: 0.01px;
	padding-bottom: 1218px;
	margin-left: -444px;
}

#u79
{
	z-index: 5;
	width: 1894px;
	background-color: transparent;
	position: fixed;
	top: -314px;
	left: -444px;
}

#menuu214
{
	z-index: 87;
	width: 1728px;
	border-style: none;
	border-color: transparent;
	background-color: #B86A53;
	position: fixed;
	top: -3px;
	left: 50%;
	margin-left: -852px;
}

#u222
{
	width: 430px;
	min-height: 52px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u223
{
	width: 430px;
	background-color: #B86A53;
	opacity: 0.72;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=72)";
	filter: alpha(opacity=72);
	border-radius: 26px;
	padding-bottom: 15px;
	position: relative;
}

#u224-4
{
	width: 430px;
	min-height: 37px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 31px;
	text-align: center;
	line-height: 37px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	top: 7px;
	left: 0px;
}

#u223:hover #u224-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 37px;
	width: 430px;
	margin: 0px -10000px 0px 0px;
}

#u223:active #u224-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 37px;
	width: 430px;
	margin: 0px -10000px 0px 0px;
}

#u229
{
	width: 430px;
	min-height: 52px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 432px;
}

#u232
{
	width: 430px;
	background-color: #B86A53;
	opacity: 0.72;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=72)";
	filter: alpha(opacity=72);
	border-radius: 26px;
	padding-bottom: 15px;
	position: relative;
}

#u232:hover
{
	background-color: #5A2B0F;
	width: 430px;
	min-height: 0px;
	margin: 0px;
}

#u223.MuseMenuActive,#u232:active
{
	background-color: #B86A53;
	width: 430px;
	min-height: 0px;
	margin: 0px;
}

#u232.MuseMenuActive
{
	background-color: #B86A53;
	width: 430px;
	min-height: 0px;
	margin: 0px;
}

#u235-4
{
	width: 430px;
	min-height: 37px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 31px;
	text-align: center;
	line-height: 37px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	top: 7px;
}

#u223.MuseMenuActive #u224-4,#u232:hover #u235-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 37px;
	width: 430px;
	margin: 0px -10000px 0px 0px;
}

#u232:active #u235-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 37px;
	width: 430px;
	margin: 0px -10000px 0px 0px;
}

#u232.MuseMenuActive #u235-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 37px;
	width: 430px;
	margin: 0px -10000px 0px 0px;
}

#u236
{
	width: 431px;
	min-height: 52px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 864px;
}

#u239
{
	width: 431px;
	background-color: #B86A53;
	opacity: 0.72;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=72)";
	filter: alpha(opacity=72);
	border-radius: 26px;
	padding-bottom: 15px;
	position: relative;
}

#u239:hover
{
	background-color: #5A2B0F;
	width: 431px;
	min-height: 0px;
	margin: 0px;
}

#u239:active
{
	background-color: #B86A53;
	width: 431px;
	min-height: 0px;
	margin: 0px;
}

#u240-4
{
	width: 431px;
	min-height: 37px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 31px;
	text-align: center;
	line-height: 37px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	top: 7px;
}

#u239:hover #u240-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 37px;
	width: 431px;
	margin: 0px -10000px 0px 0px;
}

#u239:active #u240-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 37px;
	width: 431px;
	margin: 0px -10000px 0px 0px;
}

#u243
{
	width: 431px;
	min-height: 52px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 1297px;
}

#u244
{
	width: 431px;
	background-color: #B86A53;
	opacity: 0.72;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=72)";
	filter: alpha(opacity=72);
	border-radius: 26px;
	padding-bottom: 15px;
	position: relative;
}

#u244:hover
{
	background-color: #5A2B0F;
	width: 431px;
	min-height: 0px;
	margin: 0px;
}

#u239.MuseMenuActive,#u244:active
{
	background-color: #B86A53;
	width: 431px;
	min-height: 0px;
	margin: 0px;
}

#u244.MuseMenuActive
{
	background-color: #B86A53;
	width: 431px;
	min-height: 0px;
	margin: 0px;
}

#u245-4
{
	width: 431px;
	min-height: 37px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 31px;
	text-align: center;
	line-height: 37px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	top: 7px;
}

#u239.MuseMenuActive #u240-4,#u244:hover #u245-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 37px;
	width: 431px;
	margin: 0px -10000px 0px 0px;
}

#u244:active #u245-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 37px;
	width: 431px;
	margin: 0px -10000px 0px 0px;
}

#u244.MuseMenuActive #u245-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 37px;
	width: 431px;
	margin: 0px -10000px 0px 0px;
}

#u223.MuseMenuActive #u224-4 p,#u232.MuseMenuActive #u235-4 p,#u239.MuseMenuActive #u240-4 p,#u244.MuseMenuActive #u245-4 p
{
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#pu85
{
	z-index: 7;
	width: 0.01px;
	position: relative;
	margin-left: 222px;
	margin-top: -756px;
}

#u85
{
	z-index: 0;
	width: 512px;
	background-color: #FFFFC9;
	opacity: 0.91;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=91)";
	filter: alpha(opacity=91);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu99
{
	width: 0.01px;
	position: relative;
	left: 12px;
	padding-top: 18px;
	z-index: 2;
	padding-bottom: 16px;
}

#u99
{
	z-index: 9;
	width: 477px;
	border-width: 5px;
	border-style: solid;
	border-color: #C69C6D;
	background-color: transparent;
	padding-bottom: 79px;
	position: relative;
	margin-right: -10000px;
}

#u93
{
	z-index: 10;
	width: 458px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 47px;
	left: 9px;
}

#pu76
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -300px;
}

#u76
{
	z-index: 12;
	min-height: 433px;
	background-color: #FFFFFF;
	padding-bottom: 349px;
}

#u183
{
	z-index: 53;
	width: 203px;
	min-height: 267px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 166px;
	left: 903px;
}

#u76-bw
{
	z-index: 12;
	min-height: 433px;
}

#slideshowu142
{
	z-index: 13;
	width: 0.01px;
	height: 568px;
	position: relative;
	margin-right: -10000px;
	margin-top: 86px;
	left: 12px;
}

#u153
{
	position: absolute;
	width: 654px;
	height: 528px;
	background-color: transparent;
	left: 140px;
}

#u153popup
{
	z-index: 14;
}

#u156
{
	z-index: 15;
	width: 654px;
	height: 528px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u158
{
	z-index: 17;
	width: 654px;
	height: 528px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u154
{
	z-index: 19;
	width: 654px;
	height: 528px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u156_clip,#u158_clip,#u154_clip
{
	overflow: hidden;
	width: 654px;
	height: 528px;
}

#u156_img,#u158_img,#u154_img
{
	margin-left: -70px;
	margin-right: -68px;
}

#u146
{
	position: absolute;
	width: 130px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 260px;
}

#u146popup
{
	z-index: 21;
}

#u149
{
	z-index: 22;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u151
{
	z-index: 24;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 70px;
}

#u149.SSSlideLinkSelected,#u151.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	width: 60px;
	height: 45px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u147
{
	z-index: 26;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
}

#u147.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	width: 60px;
	height: 45px;
	min-height: 0px;
	margin: 55px -10000px 0px 0px;
}

#u149_clip,#u151_clip,#u147_clip
{
	overflow: hidden;
	width: 60px;
	height: 45px;
}

#u149_img,#u151_img,#u147_img
{
	margin-left: -4px;
	margin-right: -3px;
}

#u161
{
	position: absolute;
	width: 349px;
	background-color: transparent;
	top: 528px;
	left: 156px;
}

#u161popup
{
	z-index: 28;
}

#u164-4
{
	z-index: 29;
	width: 329px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	color: #999999;
	text-align: left;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u162-4
{
	z-index: 33;
	width: 329px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	color: #999999;
	text-align: left;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u163-4
{
	z-index: 37;
	width: 329px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	color: #999999;
	text-align: left;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u145-4
{
	position: absolute;
	width: 48px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 518px;
	left: 537px;
}

#u145-4popup
{
	z-index: 41;
}

#u160-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 518px;
	left: 506px;
}

#u160-4popup
{
	z-index: 45;
}

#u145,#u160
{
	color: #999999;
}

#u166-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	color: #999999;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 518px;
	left: 606px;
}

#u166-4popup
{
	z-index: 49;
}

.MenuItem,.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* unifiedNavBar */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#ppu196
{
	width: 0.01px;
	margin-left: -440px;
}

#pu196
{
	z-index: 4;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 668px;
}

#u196
{
	z-index: 0;
	width: 1892px;
	background-color: #000000;
	opacity: 0.46;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=46)";
	filter: alpha(opacity=46);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu197-4
{
	width: 0.01px;
	position: relative;
	left: 468px;
	padding-top: 222px;
	z-index: 2;
	padding-bottom: 525px;
}

#u197-4
{
	z-index: 63;
	width: 344px;
	min-height: 56px;
	background-color: transparent;
	font-size: 63px;
	line-height: 76px;
	color: #DB7F2E;
	position: relative;
	margin-right: -10000px;
}

#u204
{
	z-index: 69;
	width: 142px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 287px;
	left: 418px;
}

#pu210-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 94px;
	margin-left: 571px;
}

#u210-4
{
	z-index: 71;
	width: 487px;
	min-height: 125px;
	background-color: transparent;
	font-size: 37px;
	line-height: 44px;
	color: #C69C6D;
	position: relative;
}

#u211-4
{
	z-index: 75;
	width: 298px;
	min-height: 153px;
	background-color: transparent;
	font-size: 49px;
	line-height: 59px;
	color: #C69C6D;
	margin-left: 23px;
	margin-top: 63px;
	position: relative;
}

#u77
{
	z-index: 8;
	min-height: 578px;
	background-color: #DCBA73;
	padding-bottom: 170px;
}

#u187-4
{
	z-index: 55;
	width: 320px;
	min-height: 138px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 78px;
	line-height: 94px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 229px;
	left: 30px;
}

#u189-4
{
	z-index: 59;
	width: 658px;
	min-height: 408px;
	background-color: transparent;
	font-size: 27px;
	line-height: 32px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 170px;
	left: 426px;
}

#u77-bw
{
	z-index: 8;
	min-height: 578px;
}

#u186
{
	z-index: 54;
	min-height: 622px;
	background-color: #B86A53;
	padding-bottom: 18px;
}

#u76_align_to_page,#u77_align_to_page,#u186_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
}

#u212-4
{
	z-index: 79;
	width: 452px;
	min-height: 118px;
	background-color: transparent;
	font-size: 46px;
	line-height: 55px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 218px;
	left: 128px;
}

#u213-4
{
	z-index: 83;
	width: 411px;
	min-height: 580px;
	background-color: transparent;
	font-size: 29px;
	line-height: 35px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 42px;
	left: 617px;
}

#u186-bw
{
	z-index: 54;
	min-height: 622px;
	margin-top: 1388px;
}

#u198
{
	z-index: 67;
	width: 140px;
	background-color: transparent;
	-webkit-transform: matrix(0.9998,0.0175,-0.0175,0.9998,1,-1);
	-ms-transform: matrix(0.9998,0.0175,-0.0175,0.9998,1,-1);
	transform: matrix(0.9998,0.0175,-0.0175,0.9998,1,-1);
	position: relative;
	margin-right: -10000px;
	margin-top: 967px;
	left: 887px;
}

#u190
{
	z-index: 2;
	width: 1892px;
	background-color: transparent;
	position: fixed;
	top: 2054px;
	left: -440px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

